<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="encrypt">
      <ion-icon name="eye-off-outline"></ion-icon>
      <ion-label>Encryption</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hash">
      <ion-icon name="code-working-outline"></ion-icon>
      <ion-label>Hashing</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" class="ion-hide-lg-up">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>