<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }} <small>({{ settingsService.encryptionAlgorithm.value }})</small></ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="encryptForm">
    <ion-row>
      <ion-col class="ion-padding">
        <ion-segment formControlName="type">
          <ion-segment-button value="encrypt">
            <ion-icon icon="eye-off-outline"></ion-icon>
            <ion-label>Encrypt</ion-label>
          </ion-segment-button>
          <ion-segment-button value="decrypt">
            <ion-icon icon="eye-outline"></ion-icon>
            <ion-label>Decrypt</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-item lines="full" class="ion-padding-bottom">
      <ion-label [color]="(hasErrors('key')) ? 'danger' : ''" position="stacked">Password</ion-label>
      <ion-input [color]="(hasErrors('key')) ? 'danger' : ''" formControlName="key" type="password" placeholder="Min. 5 characters"></ion-input>
    </ion-item>
    <ion-item lines="full" class="ion-padding-bottom">
      <ion-label [color]="(hasErrors('content')) ? 'danger' : ''" position="stacked">Content</ion-label>
      <ion-textarea [color]="(hasErrors('content')) ? 'danger' : ''" formControlName="content" rows="5" [placeholder]="'Enter content to ' + ((encryptForm.controls.type.value === 'encrypt') ? 'encrypt' : 'decrypt')"></ion-textarea>
    </ion-item>
    <ion-row class="ion-padding-horizontal">
      <ion-col>
        <ion-button type="submit" color="light" expand="block" (click)="copyOrShare(encryptForm.controls.content.value)" [disabled]="!encryptForm.controls.content.value">
          <ion-icon slot="start" [name]="(appService.platform !== 'web') ? 'share-outline' : 'clipboard-outline'"></ion-icon>
          {{ (appService.platform !== 'web') ? 'Share content' : 'Copy content' }}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="encryptForm.controls.type.value === 'encrypt'" type="submit" color="success" expand="block" (click)="encrypt()" [disabled]="!encryptForm.valid">
          <ion-icon slot="start" name="eye-off-outline"></ion-icon>
          Encrypt
        </ion-button>
        <ion-button *ngIf="encryptForm.controls.type.value === 'decrypt'" type="submit" color="danger" expand="block" (click)="decrypt()" [disabled]="!encryptForm.valid">
          <ion-icon slot="start" name="eye-outline"></ion-icon>
          Decrypt
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col>
        <ion-button type="button" color="light" expand="block" (click)="clear()" [disabled]="!encryptForm.controls.content.value">
          <ion-icon slot="start" name="trash-bin-outline"></ion-icon>
          Clear content
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>