<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="settings"></ion-icon> {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-icon name="settings"></ion-icon> {{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="settingsForm">
    <ion-list>
      <ion-list-header>
        <ion-label>Encryption</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" icon="key-outline"></ion-icon>
        <ion-label>Algorithm</ion-label>
        <ion-select [interfaceOptions]="encryptionAlgorithmOptions" interface="action-sheet" formControlName="encryptionAlgorithm">
          <ion-select-option value="AES">AES</ion-select-option>
          <ion-select-option value="TripleDES">TripleDES</ion-select-option>
          <ion-select-option value="Rabbit">Rabbit</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" icon="reload-outline"></ion-icon>
        <ion-label position="fixed"># Rounds {{ settingsForm.controls.encryptionRounds.value }}</ion-label>
        <ion-range formControlName="encryptionRounds" min="1" max="5" step="1" snaps="true" pin="true"></ion-range>
      </ion-item>
      <ion-list-header>
        <ion-label>Hashing</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" icon="key-outline"></ion-icon>
        <ion-label>Algorithm</ion-label>
        <ion-select [interfaceOptions]="hashingAlgorithmOptions" interface="action-sheet" formControlName="hashingAlgorithm">
          <ion-select-option [value]="hashingAlgorithms.MD5">MD5 (unsafe)</ion-select-option>
          <ion-select-option [value]="hashingAlgorithms.SHA1">SHA1</ion-select-option>
          <ion-select-option [value]="hashingAlgorithms.SHA256">SHA256</ion-select-option>
          <ion-select-option [value]="hashingAlgorithms.SHA512">SHA512</ion-select-option>
          <ion-select-option [value]="hashingAlgorithms.SHA3">SHA3</ion-select-option>
          <ion-select-option [value]="hashingAlgorithms.RIPEMD160">RIPEMD-160</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" icon="reload-outline"></ion-icon>
        <ion-label position="fixed"># Rounds {{ settingsForm.controls.hashingRounds.value }}</ion-label>
        <ion-range formControlName="hashingRounds" min="1" max="5" step="1" snaps="true" pin="true"></ion-range>
      </ion-item>
      <ion-list-header>
        <ion-label>Appearance</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" icon="contrast-outline"></ion-icon>
        <ion-label>
          Dark mode
        </ion-label>
        <ion-toggle formControlName="darkMode"></ion-toggle>
      </ion-item>
      <ion-list-header>
        <ion-label>Generic</ion-label>
      </ion-list-header>
      <ion-item button [routerLink]="['/tabs/settings/about']">
        <ion-icon slot="start" icon="information-circle-outline"></ion-icon>
        <ion-label>
          About
        </ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>